<p id="notice"><%= notice %></p>

<p>
  <strong>User1:</strong>
  <%= @user_chat.user1_id %>
</p>

<p>
  <strong>User2:</strong>
  <%= @user_chat.user2_id %>
</p>

<p>
  <strong>Chat:</strong>
  <%= @user_chat.chat_id %>
</p>

<%= link_to 'Edit', edit_user_chat_path(@user_chat) %> |
<%= link_to 'Back', user_chats_path %>
